body {
  background-color: black;
  margin: 0px;
  box-sizing: border-box;
}

.sign {
  display: none;
}
/* .firebaseui-input-toggle-on {
  background-image: url(https://www.gstatic.com/images/icons/material/system/1x/visibility_white_24dp.png);
}
.firebaseui-input-toggle-off {
  background-image: url(https://www.gstatic.com/images/icons/material/system/1x/visibility_off_white_24dp.png);
} */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: none;
  z-index: 6;
  height: 100vh;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  border: 4px solid #5962df;
  position: fixed;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  animation-name: spin;
  animation-duration: 1s;
  border-left-color: transparent;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: #5962df;
} */

.onload {
  margin: 0 auto;
  max-width: fit-content;
  padding-top: 60px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  color: white;
  font-family: "Lato", sans-serif;
}

/* .onload img {
  width: 140px;
} */

.onload h6 {
  font-weight: 150;
  font-size: 22px;
  margin: 12px;
  margin-bottom: 65px;
}

.onload h1 {
  margin: 0px;
  margin-top: 24px;
  font-size: 48px;
  animation-delay: 0s;
}

.onload button {
  padding: 10px 12px;
  outline: none;
  border: none;
  background-color: #5962df;
  color: white;
  font-size: 32px;
  border-radius: 0.25rem;
}

.onload i {
  padding: 4px 0px 4px 6px;
}

.mdl-card {
  background-color: black;
  color: white;
}

.firebaseui-title {
  color: white;
}

.firebaseui-label {
  color: #cbcbcb;
}

.firebaseui-textfield.mdl-textfield .firebaseui-input {
  border-color: #5962df;
  color: white;
}
.firebaseui-input-toggle-on {
  background-image: url(https://www.gstatic.com/images/icons/material/system/1x/visibility_white_24dp.png);
}
.firebaseui-input-toggle-off {
  background-image: url(https://www.gstatic.com/images/icons/material/system/1x/visibility_off_white_24dp.png);
}
.sign img {
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  padding-top: 40px;
  margin-bottom: 55px;
  width: 118px;
}

.sign .back i {
  color: white;
  float: left;
  font-size: 22px;
  text-align: end;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 10px 16px;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 50px;
  margin: 5px;
}

.sign {
  margin: 0 auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

/* .firebaseui-card-header {
  text-align: center;
  border: none;
}
.firebaseui-id-email {
  color: white;
}

.mdl-button--raised.mdl-button--colored {
  background-color: #5962df;
}
.mdl-button--primary.mdl-button--primary {
  color: #5962df;
}
.firebaseui-link {
  color: #5962df;
}
.mdl-button--raised.mdl-button--colored {
  background: #5962df;
}
.mdl-button.mdl-button--colored {
  background: #5962df;
}
.mdl-button--raised.mdl-button--colored:hover {
  background-color: #5962df;
}

.mdl-button--raised.mdl-button--colored:active {
  background-color: #5962df;
}

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background-color: #5962df;
}
.firebaseui-tos {
  color: rgb(192, 192, 192);
} */
.images {
  font-size: 16px;
  color: rgb(153, 153, 153);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue;
  text-align: center;
  box-sizing: inherit;
  margin: 3rem 0px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.codeist-logo {
  width: 80px;
}
.onload h2 {
  --reach-tooltip: 1;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: inherit;
  transition: color, background-color 0.2s ease;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  color: rgb(255, 255, 255);
  padding: 0px;
  margin: 50px 0px 1.2rem;
  font-weight: 800;
  animation-delay: 1s;
}
.onload h1 {
  font-size: 4rem;
  line-height: 57px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px 0px 1.5rem;
  font-weight: 650;
  font-family: "Poppins", sans-serif;
}
.onload h6 {
  --reach-tooltip: 1;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: inherit;
  transition: color, background-color 0.2s ease;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3;
  color: rgb(153, 153, 153);
  margin: 0px 0px 1rem;
  margin-bottom: 2rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  animation-delay: 1s;
}
.codeist-logo,
.onload h1 {
  display: inline-block;
  animation-delay: 0.75s;
}
.onload button {
  --reach-tooltip: 1;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  background: rgb(89, 98, 223);
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  font-size: 1.5em;
  line-height: 19px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  transition: all 200ms ease 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  display: inline-block;
  color: rgb(255, 255, 255) !important;
  padding: 0.75rem 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  animation-delay: 1.75s;
}
.images img {
  padding: 20px;
  height: 80px;
  width: auto;
  animation-delay: 1.3s;
}
.images i {
  font-size: 75px;
  padding: 16px;
}
.images i:hover {
  font-size: 80px;
  color: white;
  transition: 0.1s ease-out;
}

@media only screen and (max-width: 500px) {
  .onload h2 {
    font-size: 1.7rem;
    margin: 30px 10px 1.1rem;
  }
  .onload .h6 {
    font-size: 1.1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .onload h1 {
    font-size: 3rem;
  }
  .onload .codeist-logo {
    width: 60px;
  }
  .images img {
    height: 55px;
    width: auto;
  }
  .onload button {
    font-size: 1.1em;
    padding: 0.4rem 1.1rem;
  }
  .onload i {
    padding: 13.5px;
  }
  .onload {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .onload .codeist-logo {
    width: 52px;
  }
  .onload h1 {
    font-size: 2.7rem;
  }
  .onload h2 {
    font-size: 1.4rem;
    margin: 30px 10px 1.1rem;
  }
  .onload .h6 {
    font-size: 0.9em;
  }
  .images {
    margin: 2.4rem 0px;
  }
  .onload {
    padding-top: 44px;
  }
}
.firebaseui-card-header {
  border: none;
  margin-bottom: 16px;
  padding: 16px 24px 0 24px;
}
